.home{
    padding-top: 9vh;
    color: var(--blacks);
    background-color: var(--white);
}

.home__main{
    display: flex;
    z-index: 1;
}

.home__workshopSideMenu{
    width: 20vw;
    height: 82vh;
}

.home__workshopSideMenu__fixed{
    position: fixed;
    padding-top: 8vh;
    padding-left: 2vw;
}

.home__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3vh 0;
    padding-left: 1vw;
}

.home__header h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    margin: 0;
}

.home__header span{
    font-weight: bold;
    font-size: 15px;
    line-height: 125%;
    color: var(--light-grey);
}

.home__workshopContainer{
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 1vw;
    justify-content: flex-start;
}

.home__workshops{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
  
.home__loadMore{
    text-align: end;
    padding: 5vh 0;
    padding-right: 15%;
}

.home__loadMore span{
    color: var(--darker-grey);
    font-weight: bold;
    font-size: 17px;
    border-bottom: 2px solid var(--light-blue);   
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .home{
        padding-top: 10vh;
    }
    .home__main{
        flex-direction: column;
    }
    .home__workshopContainer{
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    .home__header{
        padding: 1vh 0;
        padding-left: 5vw;
    }
    .home__loadMore{
        padding: 3vh 0;
        padding-right: 15%;
    }
}

/* WIP */
.home__categoryMenu{
    position: relative;
    padding: 3vh 0;
    padding-bottom: 1vh;
    padding-left: 30px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 1;
}
.home__categoryMenu span {
    font-weight: bold;
    color: var(--blue);    
}
.home__categoryMenu span:hover {
    color: var(--light-grey);
    cursor: pointer;
  }
 .home__categoryMenu__dropdownContent{
     display: none;
     position: relative;
  }
  .home__categoryMenu:hover .home__categoryMenu__dropdownContent {
    display: flex;
    flex-direction: column;
  }