.button{
    margin: 1vh;
    padding: 1vh 1vw;
    border: none;
    border-radius: 6px;
    color: var(--black);
    background-color: var(--yellow);
    box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
    font-weight: bold;
    font-size: 18px;
}

.button:hover{
    background-color: var(--light-yellow);
    cursor: pointer;
}