.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    animation:spin 2s linear infinite;
    color: var(--blue);
    overflow: hidden;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    }
}