@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
/* Importing the font from google fonts */
/* Setting the global font and other defaults */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Livvic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Application color palette */
*{
  --light-yellow: #FFCE25;
  --yellow: #FFC80C;
  --light-blue: #00AAE4;
  --blue: #0097CC;
  --white: #FFFFFF;
  --lighter-grey: #F2F2F2;
  --light-grey: #7F7F7F;
  --darker-grey: #1D1D1B;
  --black: #0D0D0D;
  --red: #FF392E;
}

/* Scrollbar settings */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--light-grey);
}
::-webkit-scrollbar-thumb {
  background: #494949;
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}