.cart{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--yellow);
    transition: 1s;
    width: 23vw;
    height: 100vh;
    right: -23vw;
    top: 0;
}

.cart__active{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    transition: 1s;
    height: 100vh;
    width: 23vw;
    right: 0;
    top: 0;
    box-shadow: 15px 0 20px 7px rgb(0, 0, 0);
}

.cart__header{
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    font-weight: bold;
    font-size: 21px;
    line-height: 125%;
}

.cart__checkout{
    width: 80%;
}

.cart__checkout h6{
    font-weight: bold;
    font-size: 12px;
    color: var(--light-grey);
    margin-bottom: 0;
}

.cart__checkout div{
    margin-top: 5px;
    margin-bottom: 20px;
}

.cart__checkout h4{
    display: inline;
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 125%;
    color: var(--darker-grey)
}

.cart__checkout h5{
    display: inline;
    padding-left: 6px;
    font-weight: bold;
    font-size: 20px;
    color: var(--darker-grey)
}

.cart__header__title{
    display: flex;
    align-items: center;
}

.cart__header__status{
    display: inline-block;
    position: relative;
    bottom: 8px;
    left: 23px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: var(--light-blue);
  }

.cart__header__title h5{
    margin-left: 10px;
}

.cart__header__exit{
    cursor: pointer;
    padding: 7px;
}

.cart__container{
    overflow: scroll;
    overflow-x: hidden;
    height: auto;
    width: 90%;
}

.cart__container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}