.footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4vw;
    height: 9vh;
    color: var(--light-grey);
    background-color: var(--lighter-grey);
}

.footer span{
    font-weight: 600;
}